.article-card {
  margin-bottom: 32px;
  .article-img {
    &.lg-img {
      height: 278px;
    }
    &.md-img {
      height: 254px;
    }
  }
  &.card-lg {
    .article-short-text {
      -webkit-line-clamp: 3;
      //min-height: 62px;
      max-height: 62px;
      height: 100%;
    }
    .article-title {
      font-size: 18px;
    }
  }
}

.article-short-text {
  font-weight: 500;
}

.article-mini-card {
  display: flex;
  align-items: flex-start;
  .divider {
    margin-top: 15px;
    width: 124px;
    height: 1px;
    background-color: $blue;
  }
  .left-column {
    margin-right: 10px;
  }
  .article-img {
    width: 154px;
    height: 112px;
  }
  .article-title {
    font-size: 15px;
    -webkit-line-clamp: 4;
    max-height: 71px;
    min-height: 71px;
  }
  &+ .article-mini-card {
    margin-top: 15px;
  }
}

.article-column-card {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
  .left-column {
    margin-right: 13px;
  }
  .article-img {
    width: 182px;
    height: 141px;
  }
  .article-title {
    font-size: 15px;
    -webkit-line-clamp: 2;
    max-height: 37px;
    min-height: 37px;
  }
  .article-button-action {
    justify-content: center;
    background-color: #f7f7f7;
    padding: 19px 5px;
    .btn-silver-light {
      background-color: #ffffff;
    }
  }
  .article-short-text {
    font-size: 13px;
    -webkit-line-clamp: 7;
    min-height: 125px;
    max-height: 125px;
    line-height: 1.4;
    word-break: break-all;
  }
  .date-info {
    &.bottom-line {
      padding-bottom: 8px;
    }
    .profile-link {
      max-width: 94px;
    }
  }
  &.rss-feed {
    .article-short-text {
      max-height: 54px;
      min-height: 54px;
      -webkit-line-clamp: 3;
    }
    .date-info {
      &.bottom-line {
        padding-bottom: 12px;
      }
    }
  }
}

.box-date {
  display: inline-block;
  background-color: $blue;
  margin-bottom: 15px;
  color: #fff;
  padding: 4px 12px;
  font-size: 12px;
  text-align: center;
  font-weight: 600;
  border-radius: 3px;
  border-radius: 3px;
}

.article-button-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .btn-silver-light {
    font-size: 14px;
    width: 32px;
    padding: 3px 0;
    position: relative;
    &.dropdown-toggle:after {
      display: none;
    }
    &:hover {
      background-color: rgba(44,149,216,.4);
      border-color: rgba(44,149,216,.4);
      color: #444444;
    }
    .badge-counter {
      width: 15px;
      height: 12px;
      border-radius: 3px;
      background-color: #369ad9;
      font-size: 8px;
      font-weight: 500;
      position: absolute;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      right: 0;
    }
    &.active {
      .fa-thumbs-up {
        color: $green
      }
      .fa-thumbs-down {
        color: $red;
      }
    }
  }
}

.edit-post-btn {
  width: 16px;
  flex-shrink: 0;
  margin-left: 2px;
  &:hover {
    color: $yellow;
  }
}

.dropdown-last-comment {
  width: 100% !important;
  left: 0!important;
  top: 100%!important;
  border-color: #dbdbdb;
  transform: translate(0) !important;
  font-size: 14px;
  padding: 10px 10px 0 20px;
}

.dropup-custom {
  .dropdown-last-comment {
    top: auto!important;
    bottom: 100% !important;
  }
}

.last-comment-box {
  .submit-comment {
    margin: 15px 0;
    .control-form,
    .form-control {
      min-height: 60px;
    }
  }
}

.last-comment {
  border-left: 1px solid #e9e9e9;
  padding-left: 13px;
}

.last-comment-item {
  color: #666666;
  padding-bottom: 10px;
  border-bottom: 1px solid #e9e9e9;
  position: relative;
  &:before {
    content: '';
    width: 11px;
    height: 11px;
    background-color: $blue;
    border-radius: 50%;
    position: absolute;
    left: -19px;
    top: 4px;
  }
  .name {
    font-size: 14px;
    max-width: 120px;
    margin-right: 10px;
    font-weight: 500;
  }
  .date {
    color: #888888;
    font-size: 10px;
  }
  .text-comment {
    min-height: 30px;
    max-height: 30px;
    font-size: 11px;
    -webkit-line-clamp: 2;
  }
  &:last-child {
    border-bottom: 0;
  }
  & + .last-comment-item {
    margin-top: 10px;
  }
}

.article-img {
  display: block;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
  &:after,
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    transition: transform .3s ease-in-out;
    background-color: rgba(0,0,0,.4);
    transform: translateY(-100%);
    z-index: 10;
  }
  &:after {
    bottom: 0;
    top: auto;
    transform: translateY(100%);
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .3s ease-in-out;
  }
  &:hover {
    &:after,
    &:before {
      transform: translateY(0);
    }
    img {
      transform: scale(1.1);
    }
  }
}

.article-title {
  color: #444444;
  font-weight: 600;
  line-height: 1.2;
  &:hover {
    color: $blue;
  }
}

.copy-link {
  padding: 0 7px 8px 7px;
  cursor: pointer;
  i {
    font-size: 14px;
    color: $blue;
  }
  border-bottom: 1px solid #222222;
}

.date-info {
  font-size: 12px;
  font-weight: 600;
  display: inline-block;
  color: #a8a8a8;
  min-width: 124px;
  .profile-link {
    text-decoration: underline;
    margin-left: 8px;
    max-width: 120px;
    color: #a8a8a8;
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  &.bottom-line {
    padding-bottom: 12px;
    border-bottom: 1px solid $blue;
  }
}

.article-collapse-list {
  .article-collapse {
    margin-bottom: 30px;
  }
}

.main-h-news {
  max-height: 1515px;
}

.article-collapse {
  .collapse-item {
    position: relative;
    & + .collapse-item {
      margin-top: 8px;
    }
    .box-shadow-content {
      cursor: pointer;
    }
    .article-title {
      font-weight: 700;
      -webkit-line-clamp: 2;
      max-height: 32px;
      &:hover {
        color: $blue;
      }
    }
    .collapse-wrapper {
      padding: 15px 4px 15px 15px;
    }
    .box-rounded {
      padding: 15px 20px;
      margin-top: -2px;
    }
    .article-short-text {
      -webkit-line-clamp: 3;
      max-height: 62px;
    }
    .box-date {
      padding: 2px 10px;
    }
    .date {
      padding-right: 8px;
      padding-top: 9px;
      line-height: 1;
      display: flex;
      min-width: 32px;
      justify-content: flex-end;
      flex-grow: 1;
    }
    .collapse-button {
      border-right: 1px solid #dbdbdb;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 18px;
      &:before {
        content: '\f067';
        color: #b6b6b6;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 10px;
        display: block;
      }
      &:hover {
        &:before {
          color: $blue;
        }
      }
      &:not(.collapsed) {
        &:before {
          content: '\f068';
          color: $blue;
        }
      }
    }
    & + .box-rounded {
      margin-top: -2px;
    }
  }
  .channel-box {
    cursor: auto;
    margin-bottom: 8px;
    background-color: #fff;
  }
}

.channel-box {
  display: flex;
  justify-content: space-between;
  .channel-img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 4px 0;
  }
  .title-dark {
    text-decoration: underline;
    min-width: 43px;
    line-height: 1;
    padding-top: 10px;
    padding-right: 8px;
    &:hover {
      color: red;
    }
  }
  img {
    max-width: 180px;
    max-height: 57px;
    object-fit: contain;
  }
}

.channel-article-anons {
  .channel-article-anons-box {
    padding: 24px 10px;
    position: relative;
  }
}

.inline-block-pc {
  display: flex;
  overflow-x: scroll !important;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 8px;
  scrollbar-width: thin;
  scrollbar-color: $blue #f6f6f6;
  &::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: #f6f6f6;
  }

  &::-webkit-scrollbar {
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: $blue;
    border: 2px solid $blue
  }
  .article-column-card {
    width: 360px;
    flex-shrink: 0;
    margin-bottom: 15px;
  }
  .article-column-card + .article-column-card {
    margin-left: 30px;
  }
}
.slide-prev,
.slide-next {
  width: 34px;
  height: 34px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-panel {
  min-width: 75px;
}

.slider-header {
  padding-bottom: 18px;
}

.btn-comment-link {
  display: none;
}

.category-own-media .btn-comment-link {
  display: inline-block;
}

@media (max-width: 1199px) {

  .article-collapse {
    .collapse-item {
      .article-title {
        font-size: 13px;
      }
      .collapse-wrapper {
        padding: 10px 4px 10px 15px;
      }
    }
  }

  .article-button-action {
    .btn-silver-light {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .article-mini-card {
    .article-img {
      width: 130px;
    }
    .article-title {
      font-size: 13px;
      max-height: 60px;
      min-height: 60px;
    }
  }

  .article-card.card-lg {
    .article-short-text {
      max-height: 57px;
      font-size: 13px;
    }
    .article-title {
      font-size: 15px;
    }
  }
  .article-card {
    .article-img.md-img,
    .article-img.lg-img {
      height: 210px;
    }
  }

  .main-h-news {
    max-height: 1286px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .article-card.card-lg .box-rounded.up-to-top {
    padding: 15px 8px;
  }
}

@media (max-width: 991px) {
  .article-collapse {
    .b-lg {
      padding-top: 6px;
      padding-bottom: 6px;
    }
  }
}

@media (max-width: 767px) {
  .main-h-news {
    height: auto;
  }

  .article-card {
    &.card-lg {
      .article-title {
        font-size: 14px;
      }
    }
    .article-img.md-img,
    .article-img.lg-img {
      height: 160px;
    }
  }

  .inline-blocks {
    display: flex;
    overflow-x: scroll !important;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 8px;
    scrollbar-color: $blue #f6f6f6;
    scrollbar-width: thin;
    &::-webkit-scrollbar-track {
      border-radius: 3px;
      background-color: #f6f6f6;
    }

    &::-webkit-scrollbar {
      height: 6px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background-color: $blue;
      border: 2px solid $blue
    }

    .collapse-card,
    .article-card {
      width: 290px;
    }

    .dropdown-last-comment {
      ///top: -260px!important;
    }

    &.channel-article-anons-box {
      padding: 18px 0;
    }

    .article-mini-card {
      width: 280px;
      &:first-child {
        padding-left: 15px;
      }
      &:last-child {
        padding-right: 15px;
      }
    }
    .channels-category,
    .article-column-card {
      width: 360px;
    }

    .collapse-card + .collapse-card,
    .channels-category  + .channels-category,
    .article-column-card + .article-column-card,
    .article-mini-card + .article-mini-card,
    .article-card + .article-card {
      margin-left: 30px;
      margin-top: 0;
    }

    .article-card,
    .article-mini-card,
    .article-column-card {
      margin-bottom: 10px;
      flex-shrink: 0;
    }

    &.row {
      margin: 0;
      & > div {
        padding: 0;
        flex-shrink: 0;
      }
    }

    &.vertical-scroll {
      max-height: 100%;
    }

  }

  .btn-comment {
    display: none;
  }
  .btn-comment-link {
    display: inline-block;
  }
}

@media (max-width: 350px) {
  .article-card {
    &.card-lg {
      .box-rounded.up-to-top {
        padding: 15px 8px;
      }
    }
  }
}

@media (max-width: 500px) {
  .article-column-card {
    .article-short-text {
      min-height: auto;
    }
    &.vertical-column-mob {
      flex-direction: column;
      align-items: center;
      .article-short-text,
      .article-title {
        text-align: center;
      }
      .right-column {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .left-column {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }

  .category-own-media {
    .article-column-card.vertical-column-mob .date-info.bottom-line {
      justify-content: center;
    }
  }
}
